.main-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 600px;
}

.message-container{
    flex: 1;
    text-align: center;
}

.text-container{
    flex: 2;
    text-align: center; 
}

.button-container {
    flex: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Распределение кнопок по всей длине */
    align-items: center; /* Центрирование кнопок по вертикали */
    padding: 0 10%; /* Добавление отступов слева и справа для кнопок */
}

.button-wrapper {
    flex: 1;
    text-align: center;
}

.btn-secondary{
    width: 100%; /* Кнопки занимают всю ширину контейнера */
    max-width: 120px; /* Максимальная ширина для всех кнопок */
    height: 50px; /* Фиксированная высота для всех кнопок */
    background-color: #5da130 !important;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}

.btn-secondary:hover {
    background-color: #0e4128 !important;
}

.workout-list {
    display: flex;
    flex-direction: row; /* Или column для вертикального расположения */
    flex-wrap: wrap; /* Позволяет переносить элементы на новую строку */
    gap: 20px; /* Задает расстояние между элементами */
}

.workout-item {
    background-color: #eef4db; /* Цвет фона */
    border-radius: 8px;
    padding: 15px;
    width: 300px; /* Ширина элемента (пример, настройте под свой дизайн) */
    margin-bottom: 20px; /* Отступ снизу */
    text-align: center;
    box-sizing: border-box;  /* padding and border included */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.workout-item p {
    margin: 5px 0; /* Отступы сверху и снизу */
}