.main-container{
    display: flex;
    flex-direction: column;
}

.button_icon_container{
    display: flex;
    height: 100%;
}

.btn-container{
    margin-top: 30px;
    margin-bottom: 600px;
}

#profileBtn:hover{
    cursor: pointer;
}