{% extends "main/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'activity/css/index_2.css' %}" type="text/css" media="all">
<body>
  <div class="main-container">
    <div class="message-container">
      <h1>
        {{ message }}
      </h1>
    </div>
    {% if user.is_authenticated %}
    {% if assigned_workouts %}
        <div class="workout-list">  <!-- Контейнер для тренировок -->
            {% for workout in assigned_workouts %}
                <div class="workout-item"> <!-- workout-item как прямоугольник -->
                    <p>Эксперт: {{ workout.expert.nickname }}</p>
                    <p>День недели: {{ workout.get_day_of_week_display }}</p>
                    <p>Время начала: {{ workout.start_time }}</p>
                    <p>Время конца: {{ workout.end_time }}</p>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас пока нет назначенных тренировок.</p>
    {% endif %}

{% else %}
    <p><a href="{% url 'login' %}">Войдите</a>, чтобы увидеть тренировки.</p>
{% endif %}

{% endblock %}

