{% extends "main/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'main/css/forms.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'colories/css/styles_colories.css' %}" type="text/css" media="all">
<h2>Динамика</h2>

<div class="dynamics-container">
    <div class="selection-area">
        <label for="tracking-select">Отслеживать:</label>
        <select id="tracking-select">
            <option value="calories" {% if selected_period == 'calories' %}selected{% endif %}>Съеденное</option>
            <option value="training" {% if selected_period == 'training' %}selected{% endif %}>Тренировки</option>
        </select>
    </div>

    <div class="button_container">
        <a href="{% url 'colory_dynamic' %}?period=week" class="btn-info" id="lol-btn {% if selected_period == 'week' %}active{% endif %}">Неделя</a>
        <a href="{% url 'colory_dynamic' %}?period=month"  class="btn-info" id="lol-btn {% if selected_period == 'month' %}active{% endif %}">Месяц</a>
        <a href="{% url 'colory_dynamic' %}?period=3months"  class="btn-info" id="lol-btn {% if selected_period == '3months' %}active{% endif %}">3 месяца</a>
    </div>
    <div></div>
    <div id="calories-burned-chart-container" {% if selected_period != 'training' %}style="display: none;"{% endif %}> 
    </div>
    <div id="calories-chart-container" {% if selected_period != 'calories' %}style="display: none;"{% endif %}>
    </div>

</div>

<div class="button_container">
    <a class="btn-info" id="lol-btn" href="{% url 'index-colories' %}">На главную страницу колорий</a>
  </div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const caloriesBurnedChartData = JSON.parse('{{ calories_burned_chart_data|safe }}');
        Plotly.newPlot('calories-burned-chart-container', caloriesBurnedChartData.data, caloriesBurnedChartData.layout);

        const chartData = JSON.parse('{{ chart_data|safe }}');
        Plotly.newPlot('calories-chart-container', chartData.data, chartData.layout);  //  Используем chartData
    });


    const trackingSelect = document.getElementById('tracking-select');
const caloriesChartContainer = document.getElementById('calories-chart-container'); //id=calories-chart-container
const caloriesBurnedChartContainer = document.getElementById('calories-burned-chart-container'); //id=calories-burned-chart-container

trackingSelect.addEventListener('change', () => {
    const selectedValue = trackingSelect.value;

    if (selectedValue === 'calories') {
        caloriesChartContainer.style.display = 'block'; //caloriesChartContainer
        caloriesBurnedChartContainer.style.display = 'none';//caloriesBurnedChartContainer
    } else if (selectedValue === 'training') {
        caloriesChartContainer.style.display = 'none';//caloriesChartContainer
        caloriesBurnedChartContainer.style.display = 'block';//caloriesBurnedChartContainer
    }
});
</script>

{% endblock %}