{% extends "main/base.html" %}
{% load static %}
{% load form_tags %}

{% block content %}
<link rel="stylesheet" href="{% static 'profiles/css/calory_profile_edit.css' %}" type="text/css" media="all">

<div class="page-wrapper">
    <div class="container-edit">
        <div class="form-container">
            <form method="post" class="login-edit">
                <div class="text-wrapper">
                    <h2>Редактирование данных</h2>
                </div>
                <div class="form-wrapper">
                    <div class="container-first">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.as_p }}
                    </div>
                    <div class="container-second">
                        <h3>Время приема пищи</h3>
                        {{ time_table_form.non_field_errors }}
                        {{ time_table_form.as_p }}
                    </div>
                    <div class="container-third">
                        <h3>Тренировочные сессии</h3>
                        {{ formset.management_form }}
                    </div>
                    <div id="container-fourth">
                        {% for form in formset %}
                            <div class="formset-item">
                                {{ form.id }}
                                {{ form.non_field_errors }}
                                <p>День недели</p>{{ form.day_of_week.label_tag }} {{ form.day_of_week }}
                                <p>Время начала</p>{{ form.start_time.label_tag }} {{ form.start_time }}
                                <p>Время конца</p>{{ form.end_time.label_tag }} {{ form.end_time }}
                                {{ form.DELETE|add_class:"hidden-checkbox" }} <!-- Поле для удаления формы -->
                                <button type="button" class="btn btn-danger remove-form">Удалить</button>
                            </div>
                        {% endfor %}
                        <div id="empty-form-template" style="display: none;">  <!-- Скрытый шаблон -->
                            <div class="formset-item">
                                {{ formset.empty_form.id }}
                                {{ formset.empty_form.non_field_errors }}
                                <p>День недели</p>{{ formset.empty_form.day_of_week.label_tag }} {{ formset.empty_form.day_of_week }}
                                <p>Время начала</p>{{ formset.empty_form.start_time.label_tag }} {{ formset.empty_form.start_time }}
                                <p>Время конца</p>{{ formset.empty_form.end_time.label_tag }} {{ formset.empty_form.end_time }}
                                {{ formset.empty_form.DELETE|add_class:"hidden-checkbox" }}
                                <button type="button" class="btn btn-danger remove-form">Удалить</button>
                            </div>
                        </div>

                    </div>
                    <div class="button-wrapper">
                        <button type="button" class="btn btn-primary" id="add-form">Добавить тренировку</button>
                    </div>
                </div>
                <div class="button-wrapper">    
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
            <div class="login-text">
                <div class="text1-wrapper">
                    
                    <p>Добро пожаловать! Пожалуйста, введите свои учетные данные, чтобы войти в систему. Если у вас нет учетной записи, пожалуйста, зарегистрируйтесь.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function() {
    var formsetContainer = document.getElementById('container-fourth'); 
    var addFormButton = document.getElementById('add-form');
    var totalFormsInput = document.getElementById('id_form-TOTAL_FORMS');


    var emptyFormTemplate = document.getElementById('empty-form-template').firstElementChild;   
    
    addFormButton.addEventListener('click', function() {
        var formCount = formsetContainer.querySelectorAll('.formset-item').length;
        var newForm = emptyFormTemplate.cloneNode(true);
        var formRegex = new RegExp('form-(\\d+|__prefix__)-', 'g');
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, 'form-' + formCount + '-');

        newForm.querySelectorAll('input, select').forEach(function(input) {
            input.value = ''; //очищаем value
            if (input.type === 'checkbox'){
                input.checked = false;
            }
        });
        newForm.style.display = 'block';
        formsetContainer.appendChild(newForm);
        totalFormsInput.value = formCount + 1;

        attachRemoveButtonHandlers();
    });

    function attachRemoveButtonHandlers() {
        var removeButtons = document.querySelectorAll('.remove-form');
        removeButtons.forEach(function(button) {
            button.removeEventListener('click', handleRemoveButtonClick);
            button.addEventListener('click', handleRemoveButtonClick);
        });
    }

    function handleRemoveButtonClick() {
        var formItem = this.closest('.formset-item');
        formItem.style.display = 'none';
        var deleteInput = formItem.querySelector('input[name$="-DELETE"]');
        if (deleteInput) {
            deleteInput.checked = true;
        }

        totalFormsInput.value = parseInt(totalFormsInput.value) - 1;

    }

    attachRemoveButtonHandlers();
});
</script>

{% endblock %}